<% layout('/layouts/boilerplate.ejs') %>

<div class="row">
	<div class="col-6 offset-3">
		<div class="card my-5">
			<img src="<%=camp.image%>" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><%=camp.title%></h5>
				<p class="card-text"><%=camp.description%></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><%=camp.location%></li>
				<li class="list-group-item">Price: &#8377;<%=camp.price%> / Night</li>
			</ul>
			<div class="card-body">
				<a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-info text-light my-2">Edit this Campground</a>
				<form class="d-inline" action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
					<button class="btn btn-danger my-2">Delete this Campground</button>
				</form>
			</div>

			<div class="card-footer text-muted">
				<%=Math.floor(Math.random()*25+1)%> days ago
			</div>
		</div>
	</div>
</div>
	
	